

    <div class="  card d-card" style=" height:150px;">
        <div class="card-body">
          <div >
            <p >Certification <span class="float-end"> <i class="fa fa-certificate" style="color:#394648"></i></span></p>
  
          </div>
         
            <p class="text-muted mb-0"> A certified Medical Doctor at university colliege Hospital</p>
              <div class="float-end mt-2">
                <i class="fa fa-eye" aria-hidden="true" style="color:#ccc"></i>
              </div>
        </div>
    </div>

    <div class="d-card card mt-2" style=" height:150px;">
        <div class="card-body">
          <div>
            <p>Review<span class="float-end"><i class="fa fa-comments" style="color:#394648"></i></span></p>
          </div>
         
            <Strong> A professional Doctor</Strong>
              <div class="float-end mt-5">
                <i class="fa fa-eye" aria-hidden="true" style="color:#ccc"></i>
              </div>
        </div>
    </div>

    <div class="d-card mt-2 card" style=" height:150px;">
        <div class="card-body">
          <p>Experience <span class="float-end"><i class="fa fa-briefcase" aria-hidden="true" style="color:#394648"></i></span></p>
            <p class="text-muted"> A certified Medical Doctor at university colliege Hospital</p>
              <div class="float-end mt-0">
                <i class="fa fa-eye" aria-hidden="true" style="color:#ccc"></i>
              </div>
        </div>
    </div>

    <div class="d-card card mt-2 " style="width:350px; height:150px;">
        <div class="card-body">
          <p>Education <span class="float-end"> <i class="fa fa-graduation-cap" aria-hidden="true"style="color:#394648"></i></span></p>
            <p class="text-muted"> A professional Doctor</p>
              <div class="float-end mt-0">
                <i class="fa fa-eye" aria-hidden="true" style="color:#ccc"></i>
              </div>
        </div>
    </div>
  


