<div class="d-none d-md-block">
    <div class="d-flex  align-items-center">
        <div class="form-outline">
        <input type="search" id="form1" class="form-control" />
        </div>
        <button type="button" class="btn btn-success">
        <i class="bi bi-search"></i>
        </button>


        <select class="form-select" aria-label="Default select example" style="width:100px">
            <option selected><i class="bi bi-filter"></i></option>
            
            <option *ngFor="let doctorCategory of doctorCategories index as i " value={{i}}>{{doctorCategory.name}}</option>
         
        </select>
    </div>
</div> 
