<div class="">
    <div>
        <ul>
            <li>
                <div class="card">
                    <div class="card-body">
                        <ul>
                            <li *ngFor="let notification of notifications index as i">
                                <div class=" mt-1 card">
                                    <div class=" card-body">
                                        <p> Request to join a videochat with one of your client: join the meeting with ID <a href="">{{notification.meetingId}}</a></p>
                                    </div>
                                </div>
                                

                            </li>
                        

                        </ul>
                    </div>
    
                </div>
            </li>
        </ul>
    </div>
   
</div>
