
<html lang="en">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <body style="background-color:rgba(250, 250, 250)">
        <div class="fixed=nav mb-5">
        <app-navbar></app-navbar>
    </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <app-doctor-status [doctor]="doctor"></app-doctor-status>
                    </div>
                    <div class="mt-2">
                        <app-doctor-summary></app-doctor-summary>
                    </div>
                </div>
                
            </div>
           
            

        </div>

        
    </body>
</html>
  



